| version code |

Author fullName: 'AndreasBrodbeck'.
PharoLightTheme beCurrent.

"Im Package Transcript-Tool Smalltalk tools transcript openLabel: 'Log transcript'."

"Per Iceberg die Config und Code updaten, für den Fall, dass diese schon auf der Disk vorhanden ist"
(Iceberg mcRepositoryFor: '{{mediaclue.metacelloRepositoryUrl}}') repository pull.

"This should not have to be done. Why is metacello not getting the latest config by itself"
(Iceberg mcRepositoryFor: 'github://talk-small-be-open/webbase') repository pull.

"Laden"
Metacello new
	baseline: 'Mediaclue';
	repository: '{{mediaclue.metacelloRepositoryUrl}}';
	onConflictUseLoaded;
	onLock: [ :ex :loaded :incoming | ex honor ];
	ignoreImage;
	onWarningLog;
	load.

"Init DB & Config"
MEDApplicationManager beProduction.

"Kundenkonfiguration"
MEDDatabase current globalConfiguration
	appDomain: '{{mediaclue.appDomain}}';
	emailDomain: '{{mediaclue.emailDomain}}';
	sysAdminEmailAddress: '{{mediaclue.adminEmail}}';
	assetsBasePath: '{{mediaclue.installationPath}}/main/media_storage';
	previewsBasePath: '{{mediaclue.installationPath}}/main/preview_storage';
	organizationName: '{{mediaclue.organizationName}}';
	organizationShortName: '{{mediaclue.organizationShortName}}';
	identityProviderType: '{{mediaclue.identityProvider}}';
	save;
	apply.

"Install"
MEDApplicationManager install.


"Speichern und quit"
Smalltalk snapshot: true andQuit: true.
