"Update Script des mediaclue Smalltalk Code"

"TODO: Warum muss man per Iceberg UND Metacello laden? Metacello schaffte es nicht,
den neuen Code vom git-Repository zu holen, strange."

"Per Iceberg die Config und Code updaten"
(Iceberg mcRepositoryFor: '{{mediaclue.metacelloRepositoryUrl}}') repository pull.

"This should not have to be done. Why is metacello not getting the latest config by itself"
(Iceberg mcRepositoryFor: 'github://talk-small-be-open/webbase') repository pull.

"App laden per Metacello"
Metacello new
	baseline: 'Mediaclue';
	onConflictUseLoaded;
	onLock: [ :ex :loaded :incoming | ex honor ];
	ignoreImage;
	onWarningLog;
	load.

"Update Trigger der App"
MEDApplicationManager
	update;
	afterDeployment.

"Speichern und quit"
Smalltalk snapshot: true andQuit: true.
