---

- name: restart PHP
  service:
    name: php7.2-fpm
    enabled: yes
    state: restarted

- name: restart nginx
  service:
    name: nginx
    enabled: yes
    state: restarted

- name: restart monit
  service:
    name: monit
    enabled: yes
    state: restarted
    use: sysvinit
